<div
  id="info"
  data-username="<%=user.username%>"
  data-user_id="<%=user._id%>"
  data-password="<%=user.password%>"
></div>

<div class="picDiv">
  <img class="profile" src="<%=user.picture%>" alt="" />

  <form
    id="pic_edit"
    class="edit"
    action="/dashboard/account/profile-pic"
    method="POST"
    enctype="multipart/form-data"
  >
    <input type="file" name="profile_pic" /><br />
    <input type="submit" value="Upload new Profile-picture" />
  </form>
  <Button id="profileBtn">Change Profile-picture</Button>
</div>
<table class="userinfo">
  <tr>
    <th>Name</th>
    <td><%=user.name%></td>
    <td>
      <form
        id="name_edit"
        class="edit"
        action="/dashboard/account/name"
        method="POST"
      >
        <input name="name" type="text" required />
        <button type="submit">Update</button>
      </form>
    </td>
    <td><button id="nameBtn">Update name</button></td>
  </tr>
  <tr>
    <th>Username</th>
    <td><%=user.username%></td>
    <td>
      <form
        id="username_edit"
        class="edit"
        action="/dashboard/account/username"
        method="POST"
      >
        <input name="username" type="text" name="test" required />
        <button type="submit">Update</button>
      </form>
    </td>
    <td><button id="usernameBtn" required>Update username</button></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%=user.email%></td>
    <td>
      <form
        id="email_edit"
        class="edit"
        action="/dashboard/account/email"
        method="POST"
      >
        <input name="email" type="text" required />
        <button type="submit">Update</button>
      </form>
    </td>
    <td><button id="emailBtn">Update E-mail</button></td>
  </tr>
  
  <td>
      <form
        id="password_edit"
        class="edit"
        action="/dashboard/account/password"
        method="POST"
      >
        <input name="password" type="password" required />
        <button type="submit">Update</button>
      </form>
    </td>
    <td><button id="passwordBtn">Update Password</button></td>
  </tr>
  <td>
    <form action="/dashboard/account-delete/<%=user._id%>" method="get">
      <button class="btn btn-danger" type="submit">Delete Account</button>
    </form>
  </td>
</table>

<%- include('partials/messages')%>

<script src="../public/scripts/user-info.js"></script>
<script src="./../socket.io/socket.io.js"></script>
