<div class="picDiv">
  <img class="profile" src="<%=user.picture%>" alt="" />

  <form
    id="pic_edit"
    class="edit"
    action="/users/account/profile-pic"
    method="POST"
    enctype="multipart/form-data"
  >
    <input type="file" name="profile_pic" /><br />
    <input type="submit" value="Upload new Profile-picture" />
  </form>
  <Button id="profileBtn">Change Profile-picture</Button>
</div>
<table class="userinfo">
  <tr>
    <th>Name</th>
    <td><%=user.name%></td>
    <td>
      <form
        id="name_edit"
        class="edit"
        action="/users/account/name"
        method="POST"
      >
        <input name="name" type="text" />
        <button type="submit">Update</button>
      </form>
    </td>
    <td><button id="edit_name">Update name</button></td>
  </tr>
  <tr>
    <th>Username</th>
    <td><%=user.username%></td>
    <td>
      <form
        id="username_edit"
        class="edit"
        action="/users/account/username"
        method="POST"
      >
        <input name="username" type="text" name="test" />
        <button type="submit">Update</button>
      </form>
    </td>
    <td><button id="edit_username">Update username</button></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%=user.email%></td>
    <td>
      <form
        id="email_edit"
        class="edit"
        action="/users/account/email"
        method="POST"
      >
        <input name="email" type="text" />
        <button type="submit">Update</button>
      </form>
    </td>
    <td><button id="edit_email">Update E-mail</button></td>
  </tr>
</table>
<%- include('partials/messages')%>
<script src="../public/scripts/user-info.js"></script>
