<div
  id="info"
  data-user_id="<%=user._id%>"
  data-socket_id="<%=user.socketId%>"
  ;
></div>
<h1>SlackcopyCat</h1>
<%- include('partials/messages')%>

<div class="online_users_container">
  <h5>Online users</h5>
  <ul>
    <% for(item of onlineUsers) {%>
    <li
      id="onlineUser"
      style="<%= item.username === user.username ? 'border: solid green;' : 'null' %>"
    >
      <%=item.username%>
    </li>
    <%}%>
  </ul>
</div>
<br />
<div class="offline_users_container">
  <h5>Offline users</h5>
  <ul>
    <% for(user of offlineUsers) {%>
    <li><%=user.username%></li>
    <%}%>
  </ul>
</div>
<script src="./socket.io/socket.io.js"></script>
<script src="../public/scripts/dashboard.js"></script>
